# Node modules
node_modules

# Express directory for storing Upload files
public/uploads/

# Environment variables, never commit this file
.env
.env.testing

# Lock files
package-lock.json
yarn.lock


.DS_Store
.env
.vscode
